@model AdminIndexViewModel

@{
    ViewBag.PageTitle = "All Requests";
}

<h1>@ViewBag.PageTitle</h1>

@if (Model.requests.Any())
{
    <form asp-action="AdminIndex" method="get">
        <div class="form-actions no-color">
            <p>
                Email: <input type="text" name="SearchString" value="@ViewData["NameFilter"]" />
                Start Date: <input type="date" name="searchStartDate" value="@ViewData["StartDateFilter"]" />
                End Date: <input type="date" name="searchEndDate" value="@ViewData["EndDateFilter"]" />
                <button type="submit" value="Search" class="btn btn-primary">Search</button> |
                <a asp-action="AdminIndex" class="btn btn-info">Full List</a>
            </p>
        </div>
    </form>

    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="thead-dark text-center">
                <tr>
                    <th>User Email</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var singleRequest in Model.requests)
                {
                    ApplicationUser requestUser = Model.applicationUsers.First(u => u.Id == singleRequest.ApplicationUserID);
                    <tr>
                        <td>@requestUser.Email</td>
                        <td class="text-center">@singleRequest.StartDate.ToShortDateString()</td>
                        <td class="text-center">@singleRequest.EndDate.ToShortDateString()</td>
                        <td>@singleRequest.SpecialCase</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <h2>@Model.Message</h2>
    @if (Model.Message.Contains("No Results"))
    {
        <a asp-action="AdminIndex" class="btn btn-info">Full List</a>
    }
}
