@model EditRequestViewModel

@{
    ViewBag.PageTitle = "Edit Request ID: " + @Model.RequestId;
    DateTime current = DateTime.Now;
}

<h1>@ViewBag.PageTitle</h1>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-controller="Request" asp-action="Edit" method="post">
    <input hidden asp-for="@Model.RequestId" />
    <input hidden asp-for="@Model.ApplicationUserID" />
    <input hidden asp-for="@Model.PreviousStartDate" />
    <input hidden asp-for="@Model.PreviousEndDate" />
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label>Current Value : @Model.PreviousStartDate.Date.ToShortDateString()</label>
            </div>
            <div class="form-group">
                <label asp-for="StartDate">Start of Personal/Vacation Time</label>
                @if (Model.StartDate > current)
                {
                    if (Model.StartDate.Year == current.Year)
                    {
                        <input asp-for="StartDate" type="date" asp-format="{0:yyyy-MM-dd}" min="@current.ToString("yyyy-MM-dd")" max="@current.Year-12-31" class="form-control" />
                    }
                    else
                    {
                        <input asp-for="StartDate" type="date" asp-format="{0:yyyy-MM-dd}" min="@Model.StartDate.Year-01-01" max="@Model.StartDate.Year-12-31" class="form-control" />
                    }
                }
                else
                {
                    <input asp-for="StartDate" type="date" asp-format="{0:yyyy-MM-dd}" readonly class="form-control" />
                }
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label>Current Value : @Model.PreviousEndDate.Date.ToShortDateString()</label>
            </div>
            <div class="form-group">
                <label asp-for="EndDate">End of Personal/Vacation Time</label>
                @if (Model.EndDate.Year == current.Year)
                {
                    <input asp-for="EndDate" type="date" asp-format="{0:yyyy-MM-dd}" min="@current.ToString("yyyy-MM-dd")" max="@current.Year-12-31" class="form-control" />
                }
                else
                {
                    <input asp-for="EndDate" type="date" asp-format="{0:yyyy-MM-dd}" min="@Model.StartDate.Year-01-01" max="@Model.StartDate.Year-12-31" class="form-control" />
                }
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
    <a asp-controller="Request" asp-action="index" class="btn btn-warning">Cancel</a>
</form>